@media screen and (min-width:1600px) and (max-width:1800px) {
    .container .item dl{
        height: 280px;
    }
}

@media screen and (min-width:1400px) and (max-width:1599px){
    .container .item{
        height: 470px;
    }
    .container .item dl{
        height: 285px;
    }
    /* 하단 */
    #fbottom img{
        margin: 6.5vh 100px;
    }
    #fbottom .ftext{
        margin: 10vh 80px;
    }
    /* //하단 */
}

@media screen and (min-width:1200px) and (max-width:1399px){
    /* header */
    header{
        padding: 0 50px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        left: 50px;
    }
    /* //로고 */
    /* menu */
    nav #menu>li{
        padding: 0 10px;
    }
    nav .submenu{
        left: -30%;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 7.5%;
        right: 50px;
    }
    /* //header 아이콘 */
     /* 검색 */
     .searchbox input[type="search"]{
        width: 38%;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        padding: 158px 100px 0;
    }
    /* //title페이지 */
    /* item페이지 */
    .container{
        width: 80%;
    }
    .container .item{
        height: 470px;
    }
    .container .item dl{
        height: 300px;
    }
    /* //item페이지 */
    /* 하단 */
    #fbottom img{
        margin: 6.5vh 100px;
    }
    #fbottom .ftext{
        margin: 10vh 80px;
    }
    /* //하단 */
}

@media screen and (min-width:1080px) and (max-width:1199px){
    body{
        font-size: 15px;
    }
    /* header */
    header{
        padding: 0 50px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        left: 50px;
    }
    /* //로고 */
    /* menu */
    nav #menu>li{
        padding: 0 10px;
    }
    nav .submenu{
        left: -30%;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 7.5%;
        right: 50px;
    }
    /* //header 아이콘 */
     /* 검색 */
     .searchbox input[type="search"]{
        width: 40%;
    }
    /* //검색 */
     /* title페이지 */
     #title{
        padding: 140px 100px 0;
    }
    /* //title페이지 */
    /* item페이지 */
    .container{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 470px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 235px;
    }
    .container .item dl dt{
        line-height: 45px;
    }
    /* //item페이지 */
    /* 하단 */
    #fbottom img{
        margin: 6.5vh 100px;
    }
    #fbottom .ftext{
        margin: 10vh 80px;
    }
    /* //하단 */
    /* 패밀리사이트 */
    #familysite{
        width: 940px;
    }
    /* //패밀리사이트 */
}

@media screen and (min-width:952px) and (max-width:1079px){
    body{
        font-size: 14px;
    }
    /* header */
    header{
        padding: 0 50px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 2vh;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
    }
    #actmenu{
        display: block;
    }
    nav .close img{
        width: 30px;
        height: 30px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 12%;
        right: 50px;
    }
    /* //header 아이콘 */
    /* 검색 */
     .searchbox input[type="search"]{
        width: 50%;
    }
    /* //검색 */
     /* title페이지 */
     #title{
        padding: 140px 50px 0;
    }
    /* //title페이지 */
    /* item페이지 */
    .container{
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 470px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 235px;
    }
    .container .item dl dt{
        line-height: 45px;
    }
    /* //item페이지 */
    /* 하단 */
    footer{
        margin-top: 5vh;
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu li{
        padding: 0 20px;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        float: none;
        margin: auto;
        padding: 80px 0;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 450px;
        bottom: 317px;
    }
    .fsmenu{
        margin: 0 30px;
        margin-top: 60px;
    }
    .fsmenu .fsbox{
        width: 17%;
    }
    .fsmenu .fsbox>li{
        line-height: 45px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 15px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.9285em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 3px solid #0065bd;
        border-bottom: 3px solid #0065bd;
    }
    #familysite>a img{
        width: 20px;
        height: 20px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 40px;
        height: 90px;
        bottom: 35px;
        right: 12px;
    }
    #udbtn>a{
        width: 40px;
        height: 40px;
        padding-top: 14px;

    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:850px) and (max-width:951px){
    body{
        font-size: 14px;
    }
    /* header */
    header{
        padding: 0 50px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 2vh;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
    }
    #actmenu{
        display: block;
    }
    nav .close img{
        width: 30px;
        height: 30px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 12%;
        right: 50px;
    }
    /* //header 아이콘 */
     /* 검색 */
     .searchbox input[type="search"]{
        width: 50%;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 50vh;
        padding: 200px 50px 0;
        display: block;
    }
    #title h2{
        font-size: 4.666666em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 35px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 100px;
    }
    .container{
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 430px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 225px;
    }
    .container .item dl dt{
        line-height: 35px;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        margin: 100px auto;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        margin-top: 5vh;
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu li{
        padding: 0 20px;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        float: none;
        margin: auto;
        padding: 80px 0;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 450px;
        bottom: 325px;
    }
    .fsmenu{
        margin: 0 30px;
        margin-top: 60px;
    }
    .fsmenu .fsbox{
        width: 17%;
    }
    .fsmenu .fsbox>li{
        line-height: 45px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 15px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.9285em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 3px solid #0065bd;
        border-bottom: 3px solid #0065bd;
    }
    #familysite>a img{
        width: 20px;
        height: 20px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 40px;
        height: 90px;
        bottom: 35px;
        right: 12px;
    }
    #udbtn>a{
        width: 40px;
        height: 40px;
        padding-top: 14px;

    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:750px) and (max-width:849px){
    body{
        font-size: 14px;
    }
    /* header */
    header{
        padding: 0 50px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 2vh;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
    }
    #actmenu{
        display: block;
    }
    nav .close img{
        width: 30px;
        height: 30px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 12%;
        right: 50px;
    }
    /* //header 아이콘 */
     /* 검색 */
     .searchbox input[type="search"]{
        width: 50%;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 50vh;
        padding: 200px 50px 0;
        display: block;
    }
    #title h2{
        font-size: 4.666666em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 35px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 100px;
    }
    .container{
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 400px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 220px;
    }
    .container .item dl dt{
        line-height: 32px;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        margin: 100px auto;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        margin-top: 5vh;
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu li{
        padding: 0 20px;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        float: none;
        margin: auto;
        padding: 80px 0;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 450px;
        bottom: 325px;
    }
    .fsmenu{
        margin: 0 30px;
        margin-top: 60px;
    }
    .fsmenu .fsbox{
        width: 17%;
    }
    .fsmenu .fsbox>li{
        line-height: 45px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 15px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.9285em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 3px solid #0065bd;
        border-bottom: 3px solid #0065bd;
    }
    #familysite>a img{
        width: 20px;
        height: 20px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 40px;
        height: 90px;
        bottom: 35px;
        right: 12px;
    }
    #udbtn>a{
        width: 40px;
        height: 40px;
        padding-top: 14px;

    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:645px) and (max-width:749px){
    body{
        font-size: 13px;
    }
    /* header */
    header{
        padding: 0 20px;
        height: 100px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 20px;
        width: 120px;
        height: 52px;
    }
    .logo img{
        width: 120px;
        height: 52px;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
        top: 48px;
        left: 20px;
    }
    #actmenu{
        display: block;
        width: 50%;
    }
    #actmenu #menu1>li{
        width: 60%;
    }
    nav .close{
        top: 25px;
        left: 25px;
    }
    nav .close img{
        width: 20px;
        height: 20px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 17%;
        top: 44px;
        right: 20px;
    }
    /* //header 아이콘 */
    /* 검색 */
    .search{
        height: 170px;
    }
    .searchbox{
        margin-top: 95px;
    }
    .searchbox input[type="search"]{
        width: 50%;
        height: 35px;
    }
    .searchbox button img{
        width: 20px;
        height: 20px;
    }
    .search>a{
        top: 25px;
        right: 25px;
    }
    .search>a img{
        width: 20px;
        height: 20px;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 50vh;
        padding: 200px 50px 0;
        display: block;
        margin-top: 100px;
    }
    #title h2{
        font-size: 4.666666em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 35px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 100px;
    }
    .container{
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 380px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 230px;
        padding: 15px;
    }
    .container .item dl dt{
        line-height: 30px;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        margin: 100px auto;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu{
        justify-content: space-between;
    }
    #fheader nav .bottommenu li{
        padding: 0 15px;
        line-height: 80px;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        float: none;
        margin: auto;
        padding: 80px 0;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 450px;
        bottom: 294px;
    }
    .fsmenu{
        margin: 0 30px;
        margin-top: 60px;
    }
    .fsmenu .fsbox{
        width: 17%;
    }
    .fsmenu .fsbox>li{
        line-height: 45px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 15px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.9285em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 3px solid #0065bd;
        border-bottom: 3px solid #0065bd;
    }
    #familysite>a img{
        width: 20px;
        height: 20px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 40px;
        height: 90px;
        bottom: 35px;
        right: 12px;
    }
    #udbtn>a{
        width: 40px;
        height: 40px;
        padding-top: 14px;

    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:580px) and (max-width:644px){
    body{
        font-size: 13px;
    }
    /* header */
    header{
        padding: 0 20px;
        height: 100px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 20px;
        width: 120px;
        height: 52px;
    }
    .logo img{
        width: 120px;
        height: 52px;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
        top: 48px;
        left: 20px;
    }
    #actmenu{
        display: block;
        width: 50%;
    }
    #actmenu #menu1>li{
        width: 60%;
    }
    nav .close{
        top: 25px;
        left: 25px;
    }
    nav .close img{
        width: 20px;
        height: 20px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 17%;
        top: 44px;
        right: 20px;
    }
    /* //header 아이콘 */
    /* 검색 */
    .search{
        height: 170px;
    }
    .searchbox{
        margin-top: 95px;
    }
    .searchbox input[type="search"]{
        width: 50%;
        height: 35px;
    }
    .searchbox button img{
        width: 20px;
        height: 20px;
    }
    .search>a{
        top: 25px;
        right: 25px;
    }
    .search>a img{
        width: 20px;
        height: 20px;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 45vh;
        padding: 150px 30px 0;
        display: block;
        margin-top: 100px;
    }
    #title h2{
        font-size: 4.666666em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 35px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 100px;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
    .container .item{
        height: 350px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 215px;
        padding: 15px;
    }
    .container .item dl dt{
        line-height: 30px;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        width: 450px;
        margin: 100px auto;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu{
        justify-content: space-between;
    }
    #fheader nav .bottommenu li{
        padding: 0 15px;
        line-height: 80px;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        float: none;
        margin: auto;
        padding: 80px 0;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 450px;
        bottom: 294px;
    }
    .fsmenu{
        margin: 0 30px;
        margin-top: 60px;
    }
    .fsmenu .fsbox{
        width: 17%;
    }
    .fsmenu .fsbox>li{
        line-height: 45px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 15px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.9285em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 3px solid #0065bd;
        border-bottom: 3px solid #0065bd;
    }
    #familysite>a img{
        width: 20px;
        height: 20px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 40px;
        height: 90px;
        bottom: 35px;
        right: 12px;
    }
    #udbtn>a{
        width: 40px;
        height: 40px;
        padding-top: 14px;

    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:484px) and (max-width:579px){
    body{
        font-size: 12px;
    }
    /* header */
    header{
        padding: 0 20px;
        height: 80px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 25px;
        width: 100px;
        height: 41px;
    }
    .logo img{
        width: 100px;
        height: 41px;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
        top: 44px;
        left: 20px;
    }
    header .menuicon img{
        width: 20px;
        height: 20px;
    }
    #actmenu{
        display: block;
        width: 55%;
    }
    #actmenu #menu1>li{
        width: 65%;
    }
    nav .close{
        top: 25px;
        left: 25px;
    }
    nav .close img{
        width: 20px;
        height: 20px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 13%;
        top: 44px;
        right: 20px;
    }
    .hicon .lang>h2 a img{
        width: 20px;
        height: 20px;
    }
    .hicon>h2 a img{
        width: 20px;
        height: 20px;
    }
    /* //header 아이콘 */
    /* 언어 */
    .hicon .lang .langlist{
        top: 32px;
        left: -8px;
    }
    .hicon .lang .langlist>li>a{
        padding: 3px 6px;
    }
    /* //언어 */
    /* 검색 */
    .search{
        height: 170px;
    }
    .searchbox{
        margin-top: 95px;
    }
    .searchbox input[type="search"]{
        width: 55%;
        height: 35px;
    }
    .searchbox button img{
        width: 20px;
        height: 20px;
    }
    .search>a{
        top: 25px;
        right: 25px;
    }
    .search>a img{
        width: 20px;
        height: 20px;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 38vh;
        padding: 125px 30px 0;
        display: block;
        margin-top: 80px;
    }
    #title h2{
        font-size: 3.75em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 35px;
    }
    #title .keyword ul li a{
        padding: 10px 15px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 100px;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .container .item{
        height: 320px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 200px;
        padding: 15px;
    }
    .container .item dl dt{
        line-height: 25px;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        width: 350px;
        margin: 100px auto;
    }
    .num>a img{
        width: 20px;
        height: 20px;
    }
    .num .number{
        width: 240px;
    }
    .num .number li{
        width: 30px;
        height: 30px;
    }
    .num .number li a{
        line-height: 30px;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu{
        justify-content: space-between;
    }
    #fheader nav .bottommenu li{
        padding: 0 10px;
        line-height: 60px;
    }
    #fheader nav .bottommenu li a{
        font-size: 1em;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        margin: auto;
        padding: 60px 0;
    }
    #fbottom  .ftext .adress{
        margin-bottom: 20px;
    }
    #fbottom  .ftext .adress p{
        font-size: 1em;
        float: none;
    }
    #fbottom  .ftext .adress a{
        float: none;
        width: 60px;
        height: 25px;
        font-size: 0.8333em;
        line-height: 25px;
        margin: auto;
        margin-top: 10px;
    }
    #fbottom  .ftext>p{
        font-size: 0.8333em;
        margin-left: 0;
        text-align: center;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 280px;
        bottom: 290px;
    }
    .fsmenu{
        margin: 0 15px;
        margin-top: 30px;
    }
    .fsmenu .fsbox{
        width: 18%;
    }
    .fsmenu .fsbox>li{
        line-height: 25px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 10px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.6666em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 2px solid #0065bd;
        border-bottom: 2px solid #0065bd;
    }
    #familysite>a{
        top: 10px;
        right: 10px;
    }
    #familysite>a img{
        width: 13px;
        height: 13px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 25px;
        height: 55px;
        bottom: 35px;
        right: 10px;
    }
    #udbtn>a{
        width: 25px;
        height: 25px;
        padding-top: 6px;
    }
    #udbtn>a img{
        width: 13px;
        height: 13px;
    }
    /* //최상단하단버튼 */
}

@media screen and (min-width:399px) and (max-width:483px){
    body{
        font-size: 12px;
    }
    /* header */
    header{
        padding: 0 20px;
        height: 80px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 25px;
        width: 100px;
        height: 41px;
    }
    .logo img{
        width: 100px;
        height: 41px;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
        top: 44px;
        left: 20px;
    }
    header .menuicon img{
        width: 20px;
        height: 20px;
    }
    #actmenu{
        display: block;
        width: 60%;
    }
    #actmenu #menu1>li{
        width: 70%;
    }
    nav .close{
        top: 25px;
        left: 25px;
    }
    nav .close img{
        width: 20px;
        height: 20px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 13%;
        top: 44px;
        right: 20px;
    }
    .hicon .lang>h2 a img{
        width: 20px;
        height: 20px;
    }
    .hicon>h2 a img{
        width: 20px;
        height: 20px;
    }
    /* //header 아이콘 */
    /* 언어 */
    .hicon .lang .langlist{
        top: 32px;
        left: -8px;
    }
    .hicon .lang .langlist>li>a{
        padding: 3px 6px;
    }
    /* //언어 */
    /* 검색 */
    .search{
        height: 170px;
    }
    .searchbox{
        margin-top: 95px;
    }
    .searchbox input[type="search"]{
        width: 55%;
        height: 35px;
    }
    .searchbox button img{
        width: 20px;
        height: 20px;
    }
    .search>a{
        top: 25px;
        right: 25px;
    }
    .search>a img{
        width: 20px;
        height: 20px;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 33vh;
        padding: 90px 30px 0;
        display: block;
        margin-top: 80px;
    }
    #title h2{
        font-size: 3.333em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 30px;
    }
    #title .keyword ul li a{
        padding: 10px 10px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 60px;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .container .item{
        height: 260px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 140px;
        padding: 10px;
    }
    .container .item dl dt{
        line-height: 20px;
        font-size: 1.25em;
    }
    .container .item dl dd{
        bottom: 10px;
        font-size: 1em;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        width: 350px;
        margin: 60px auto;
    }
    .num>a img{
        width: 20px;
        height: 20px;
    }
    .num .number{
        width: 240px;
    }
    .num .number li{
        width: 30px;
        height: 30px;
    }
    .num .number li a{
        line-height: 30px;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu{
        justify-content: space-evenly;
    }
    #fheader nav .bottommenu li{
        padding: 0 10px;
        line-height: 60px;
    }
    #fheader nav .bottommenu li a{
        font-size: 1em;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        margin: auto;
        padding: 60px 0;
    }
    #fbottom  .ftext .adress{
        margin-bottom: 20px;
    }
    #fbottom  .ftext .adress p{
        font-size: 1em;
        float: none;
    }
    #fbottom  .ftext .adress a{
        float: none;
        width: 60px;
        height: 25px;
        font-size: 0.8333em;
        line-height: 25px;
        margin: auto;
        margin-top: 10px;
    }
    #fbottom  .ftext>p{
        font-size: 0.8333em;
        margin-left: 0;
        text-align: center;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 280px;
        bottom: 290px;
    }
    .fsmenu{
        margin: 0 15px;
        margin-top: 30px;
    }
    .fsmenu .fsbox{
        width: 18%;
    }
    .fsmenu .fsbox>li{
        line-height: 25px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 10px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.6666em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 2px solid #0065bd;
        border-bottom: 2px solid #0065bd;
    }
    #familysite>a{
        top: 10px;
        right: 10px;
    }
    #familysite>a img{
        width: 13px;
        height: 13px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 25px;
        height: 55px;
        bottom: 35px;
        right: 10px;
    }
    #udbtn>a{
        width: 25px;
        height: 25px;
        padding-top: 6px;
    }
    #udbtn>a img{
        width: 13px;
        height: 13px;
    }
    /* //최상단하단버튼 */
}

@media screen and (max-width:398px){
    body{
        font-size: 12px;
    }
    /* header */
    header{
        padding: 0 20px;
        height: 80px;
    }
    /* //header */
    /* 로고 */
    header .logo{
        position: static;
        margin-top: 25px;
        width: 100px;
        height: 41px;
    }
    .logo img{
        width: 100px;
        height: 41px;
    }
    /* //로고 */
    /* menu */
    nav #menu{
        display: none;
    }
    header .menuicon{
        display: block;
        top: 44px;
        left: 20px;
    }
    header .menuicon img{
        width: 20px;
        height: 20px;
    }
    #actmenu{
        display: block;
        width: 60%;
    }
    #actmenu #menu1>li{
        width: 70%;
    }
    nav .close{
        top: 25px;
        left: 25px;
    }
    nav .close img{
        width: 20px;
        height: 20px;
    }
    /* //menu */
    /* header 아이콘 */
    header .hicon{
        width: 13%;
        top: 44px;
        right: 20px;
    }
    .hicon .lang>h2 a img{
        width: 20px;
        height: 20px;
    }
    .hicon>h2 a img{
        width: 20px;
        height: 20px;
    }
    /* //header 아이콘 */
    /* 언어 */
    .hicon .lang .langlist{
        top: 32px;
        left: -8px;
    }
    .hicon .lang .langlist>li>a{
        padding: 3px 6px;
    }
    /* //언어 */
    /* 검색 */
    .search{
        height: 170px;
    }
    .searchbox{
        margin-top: 95px;
    }
    .searchbox input[type="search"]{
        width: 55%;
        height: 35px;
    }
    .searchbox button img{
        width: 20px;
        height: 20px;
    }
    .search>a{
        top: 25px;
        right: 25px;
    }
    .search>a img{
        width: 20px;
        height: 20px;
    }
    /* //검색 */
    /* title페이지 */
    #title{
        height: 45vh;
        padding: 90px 30px 0;
        display: block;
        margin-top: 80px;
    }
    #title h2{
        font-size: 3.333em;
    }
    #title .keyword{
        width: 100%;
        margin-top: 30px;
    }
    #title .keyword ul li a{
        padding: 10px 5px;
    }
    /* //title페이지 */
    /* item페이지 */
    #contents{
        margin-top: 60px;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .container .item{
        height: 250px;
    }
    .container .item:nth-child(9){
        display: none;
    }
    .container .item dl{
        height: 160px;
        padding: 10px;
    }
    .container .item dl dt{
        line-height: 20px;
        font-size: 1.25em;
    }
    .container .item dl dd{
        bottom: 10px;
        font-size: 1em;
    }
    /* //item페이지 */
    /* 다음페이지버튼 */
    .num{
        width: 350px;
        margin: 60px auto;
    }
    .num>a img{
        width: 20px;
        height: 20px;
    }
    .num .number{
        width: 240px;
    }
    .num .number li{
        width: 30px;
        height: 30px;
    }
    .num .number li a{
        line-height: 30px;
    }
    /* //다음페이지버튼 */
    /* 하단 */
    footer{
        height: auto;
    }
    #fheader{
        height: auto;
    }
    #fheader nav .bottommenu{
        justify-content: space-evenly;
    }
    #fheader nav .bottommenu li{
        padding: 0 10px;
        line-height: 60px;
    }
    #fheader nav .bottommenu li a{
        font-size: 1em;
    }
    #fbottom img{
        display: none;
    }
    #fbottom  .ftext{
        margin: auto;
        padding: 60px 0;
    }
    #fbottom  .ftext .adress{
        margin-bottom: 20px;
    }
    #fbottom  .ftext .adress p{
        font-size: 1em;
        float: none;
    }
    #fbottom  .ftext .adress a{
        float: none;
        width: 60px;
        height: 25px;
        font-size: 0.8333em;
        line-height: 25px;
        margin: auto;
        margin-top: 10px;
    }
    #fbottom  .ftext>p{
        font-size: 0.8333em;
        margin-left: 0;
        text-align: center;
    }
    /* //하단 */
    #familysite{
        width: 100%;
        height: 280px;
        bottom: 290px;
    }
    .fsmenu{
        margin: 0 15px;
        margin-top: 30px;
    }
    .fsmenu .fsbox{
        width: 18%;
    }
    .fsmenu .fsbox>li{
        line-height: 25px;
    }
    .fsmenu .fsbox>li:nth-child(2){
        margin-top: 10px;
    }
    .fsmenu .fsbox>li a{
        font-size: 0.6666em;
        font-weight: 800;
    }
    .fsmenu .fsbox .title{
        border-top: 2px solid #0065bd;
        border-bottom: 2px solid #0065bd;
    }
    #familysite>a{
        top: 10px;
        right: 10px;
    }
    #familysite>a img{
        width: 13px;
        height: 13px;
    }
    /* //패밀리사이트 */
    /* 최상단하단버튼 */
    #udbtn{
        width: 25px;
        height: 55px;
        bottom: 35px;
        right: 10px;
    }
    #udbtn>a{
        width: 25px;
        height: 25px;
        padding-top: 6px;
    }
    #udbtn>a img{
        width: 13px;
        height: 13px;
    }
    /* //최상단하단버튼 */
}